.unique {
  padding-top: 80px;

  background-color: $grey;
  background-image: url("../img/unique/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &__img-wrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  &__img {
    position: relative;
  }
  &__img-left,
  &__img-right {
    display: block;
  }
  &__img-right {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .unique {
    padding-top: 40px;
  }
}

@media (max-width: 575px) {
  .unique {
    &__img-wrap {
      max-width: 300px;
    }
    &__img-right {
      bottom: -50px;
      right: -80px;

      width: 180px;
    }
  }
}
