$black: #2d3033;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.15);
$white-footer: rgba(255, 255, 255, 0.5);
$blue: #2b2e48;
$blue-dark: #3a3e64;
$blue-copy: #313454;
$grey: #e8ecee;
$grey-darken: #6c7279;
$grey-ico: #c6cacc;
$grey-copy: #808080;
$red: #e84545;
$red-bg: rgba(232, 69, 69, 0.9);
$purple: #53354a;
$yellow: #e9ab33;
