@font-face {
  font-family: "Cardo";
  src: url("../fonts/cardo-italic.woff2") format("woff2"), url("../fonts/cardo-italic.woff") format("woff");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-light.woff2") format("woff2"), url("../fonts/raleway-light.woff") format("woff");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px; }

.wrapper {
  min-width: 320px;
  margin: 0;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  overflow-X: hidden; }

:-moz-input:focus,
:-ms-input:focus,
::-webkit-input:focus,
input:focus {
  outline: none; }

:focus {
  outline: none; }

body {
  margin: 0;
  overflow-x: hidden;
  color: #2d3033;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #e84545;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .btn:hover {
    background-color: #e9ab33;
    color: #ffffff; }
  .btn:active {
    background-color: #ffffff;
    color: #2b2e48; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.main-header__toggle {
  display: none; }

@media (max-width: 991px) {
  .main-header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100vw;
    height: 100vh; }
    .main-header__overlay.active {
      display: block;
      background-color: transparent; }
  .main-header__toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    display: block;
    width: 30px;
    padding: 10px 0;
    border: 0;
    background: none;
    font-size: 0;
    color: transparent;
    cursor: pointer; }
    .main-header__toggle:focus {
      outline: 0; }
    .main-header__toggle.active .main-header__toggle-item {
      background: none; }
      .main-header__toggle.active .main-header__toggle-item::before {
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: rotate(45deg) translateX(-3px);
        -ms-transform: rotate(45deg) translateX(-3px);
        transform: rotate(45deg) translateX(-3px); }
      .main-header__toggle.active .main-header__toggle-item::after {
        -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate(-45deg) translateX(-4px);
        -ms-transform: rotate(-45deg) translateX(-4px);
        transform: rotate(-45deg) translateX(-4px); }
  .main-header__toggle-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear; }
    .main-header__toggle-item::before, .main-header__toggle-item::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
      -webkit-transition: -webkit-transform 0.2s linear;
      transition: -webkit-transform 0.2s linear;
      -o-transition: transform 0.2s linear;
      transition: transform 0.2s linear;
      transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
    .main-header__toggle-item::before {
      top: -8px; }
    .main-header__toggle-item::after {
      top: 8px; } }

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px; }
  .main-header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .main-header.fixed {
    position: fixed;
    height: auto;
    background-color: #2b2e48; }
    .main-header.fixed .main-header__wrap {
      padding: 15px 0;
      border-bottom: 0; }

/* nav */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-nav__link {
    margin-left: 50px;
    color: #ffffff;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .75;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .main-nav__link:first-child {
      margin-left: 0; }
    .main-nav__link:hover {
      text-decoration: underline;
      opacity: 1; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 750px;
  padding-top: 100px;
  text-align: center;
  background-color: #2b2e48;
  background-image: url("../img/header/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .intro__wrap {
    width: 100%;
    max-width: 970px;
    margin: 0 auto; }
  .intro__title {
    margin-bottom: 30px;
    font-size: 65px;
    line-height: 1.1;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; }
  .intro__text {
    margin-bottom: 75px;
    font-size: 22px;
    color: #ffffff;
    font-family: "Raleway", "Arial", sans-serif; }

@media (max-width: 991px) {
  .main-nav {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    text-align: right;
    background-color: #313454; }
    .main-nav__link {
      margin-left: 0;
      padding: 10px 15px; }
    .main-nav.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .intro__title {
    font-size: 40px; } }

@media (max-width: 767px) {
  .intro {
    padding-top: 130px;
    padding-bottom: 30px;
    height: auto; }
    .intro__title {
      font-size: 30px; }
    .intro__text {
      margin-bottom: 30px;
      font-size: 16px; } }

.features {
  padding: 100px 0; }
  .features__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .features__item {
    position: relative;
    width: 33.33333%;
    padding-top: 95px;
    text-align: center;
    font-family: "Raleway", "Arial", sans-serif; }
    .features__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background-repeat: no-repeat; }
  .features__title {
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase; }
  .features__text {
    margin: 0 auto;
    max-width: 300px;
    color: #6c7279; }

.easy::before {
  width: 60px;
  height: 60px;
  background-image: url("../img/feature/1.png"); }

.resp::before {
  width: 73px;
  height: 60px;
  background-image: url("../img/feature/2.png"); }

.mod::before {
  width: 41px;
  height: 60px;
  background-image: url("../img/feature/3.png"); }

.cle::before {
  width: 56px;
  height: 60px;
  background-image: url("../img/feature/4.png"); }

.rea::before {
  width: 72px;
  height: 60px;
  background-image: url("../img/feature/5.png"); }

.dow::before {
  width: 79px;
  height: 60px;
  background-image: url("../img/feature/6.png"); }

.easy,
.resp,
.mod {
  margin-bottom: 75px; }

@media (max-width: 991px) {
  .features__item {
    width: 50%; } }

@media (max-width: 767px) {
  .features {
    padding: 40px 0; }
    .features__item {
      width: 100%;
      margin-bottom: 30px;
      padding-left: 0;
      padding-right: 0; }
    .features__text {
      max-width: none; } }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 0 auto; }
  .project__item {
    position: relative;
    width: 25%;
    height: 350px;
    overflow: hidden; }
    .project__item:hover .project__content {
      opacity: 1; }
  .project__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  .project__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: "Raleway", "Arial", sans-serif;
    text-align: center;
    background-color: rgba(232, 69, 69, 0.9);
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear; }
  .project__title {
    margin-bottom: 13px;
    font-weight: 700;
    text-transform: uppercase; }

@media (max-width: 1300px) {
  .project__item {
    width: 50%; } }

@media (max-width: 767px) {
  .project__item {
    width: 100%;
    height: 300px; } }

.team {
  padding: 100px 0; }
  .team__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
    font-family: "Raleway", "Arial", sans-serif; }
  .team__img {
    display: block;
    margin-bottom: 20px; }
  .team__name {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 1; }
  .team__prof {
    margin-bottom: 15px;
    color: #e84545;
    line-height: 1;
    text-transform: uppercase; }
  .team__text {
    margin-bottom: 31px;
    color: #6c7279; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    border: 1px solid #e8ecee;
    background-color: #ffffff;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear; }
    .social__link:hover {
      background-color: #e8ecee; }
    .social__link:hover .social__icon {
      fill: #e84545; }
  .social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    -webkit-transition: fill .2s linear;
    -o-transition: fill .2s linear;
    transition: fill .2s linear; }

@media (max-width: 1122px) {
  .team {
    padding: 60px 0 30px; }
    .team__item {
      width: 50%;
      text-align: center; }
    .team__img {
      margin-left: auto;
      margin-right: auto; }
    .team__social {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media (max-width: 767px) {
  .team__item {
    width: 100%;
    text-align: center; } }

.slider {
  position: relative;
  overflow: hidden;
  background-color: #53354a; }
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .slider__img-wrap {
    position: relative;
    width: 50%;
    height: 500px;
    overflow: hidden; }
  .slider__img {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .slider__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
    color: #ffffff; }
  .slider__text {
    margin-bottom: 30px;
    font-family: "Cardo", "Arial", sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2; }
  .slider__author {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; }

.owl-carousel .owl-item img {
  width: 900px; }

.owl-dots {
  position: absolute;
  bottom: 20%;
  right: 25%; }

.owl-dot {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5); }
  .owl-dot.active {
    background-color: #ffffff; }

@media (max-width: 991px) {
  .slider__img-wrap {
    width: 100%;
    margin: 15px 0 40px;
    overflow: hidden; }
  .slider__img {
    min-width: 100%; }
  .slider__content {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px; }
  .owl-dots {
    bottom: 5%;
    right: 50%; } }

@media (max-width: 767px) {
  .slider__text {
    font-size: 25px; }
  .owl-dots {
    bottom: 2%;
    right: 50%; } }

@media (max-width: 414px) {
  .slider__img {
    right: -100px; } }

.download {
  padding: 90px 0;
  text-align: center; }
  .download__title {
    margin-bottom: 10px;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 300;
    font-size: 28px; }
  .download__text {
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 700;
    font-family: "Raleway", "Arial", sans-serif;
    text-transform: uppercase; }
  .download__btn {
    min-width: 280px; }

@media (max-width: 767px) {
  .download {
    padding: 60px 0; }
    .download__btn {
      min-width: 260px; }
    .download__title {
      font-size: 24px; } }

.main-footer {
  padding: 70px 0;
  background-color: #3a3e64; }
  .main-footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main-footer__item {
    padding: 0 15px;
    width: 33.33333%;
    color: #ffffff;
    font-family: "Raleway", "Arial", sans-serif;
    text-align: center; }
  .main-footer__title {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase; }
  .main-footer__text {
    color: rgba(255, 255, 255, 0.5); }
  .main-footer__social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main-footer__social .social__link {
    margin-right: 7px;
    border: 2 px solid #ffffff;
    background-color: transparent; }
    .main-footer__social .social__link:last-child {
      margin-right: 0; }
  .main-footer__social .social__icon {
    fill: #ffffff; }

.copyright {
  padding: 25px 0;
  background-color: #313454; }
  .copyright__text {
    font-family: "Raleway", "Arial", sans-serif;
    color: #808080;
    text-align: center; }
    .copyright__text--color {
      color: #ffffff; }

@media (max-width: 767px) {
  .main-footer {
    padding: 30px 0; }
    .main-footer__item {
      width: 100%;
      margin-bottom: 30px;
      padding-left: 0;
      padding-right: 0; }
      .main-footer__item:last-child {
        margin-bottom: 0; } }
