$black: #333333;
$black-over: rgba(#000, .75);
$white: #ffffff;
$red: #e8663c;
$grey: #b9b9b9;
$grey-wp: #bababa;
$grey-write: #f3f3f3;
$grey-darken: #414141;
$grey-blog: #474747;
$red-light: #f4b29d;
$red-bg: #f2ae9c;
$yellow: #e9ab33;
$grey-extra: #dbdbdb;
$grey-img: #cccccc;
