$black: #333333;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.9);
$yellow: #fce38a;
$red-bg: #eb8b8d;
$red-light: #f38181;
$grey-extra: #999999;
$grey: #e5e5e5;
$green: #95e1d3;
$green-dark: #74c7b8;
$grey-light: #f8f8f8;
$grey-input: #cccccc;
$blue: #216bc1;
