html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  min-width: 320px;
  margin: 0;

  font-family: "Monserrat", "Arial", sans-serif;
  color: $black;

  overflow-X: hidden;
}

:-moz-input:focus,
:-ms-input:focus,
::-webkit-input:focus,
input:focus {
  outline: none;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: $black;
  background-color: $white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
