@font-face {
  font-family: "Monserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"),
       url("../fonts/montserrat-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/montserrat-bold.woff2") format("woff2"),
       url("../fonts/montserrat-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/kaushanscript-regular.woff2") format("woff2"),
       url("../fonts/kaushanscript-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
       url("../fonts/roboto-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-lightitalic.woff2") format("woff2"),
       url("../fonts/roboto-lightitalic.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
