html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  min-width: 320px;
  margin: 0;

  font-weight: 400;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: $black;

  overflow-X: hidden;
}

:-moz-input:focus,
:-ms-input:focus,
::-webkit-input:focus,
input:focus {
  outline: none;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: $black;
  background-color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  font-size: 12px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  color: $white;
  background-color: $red;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  padding: 0 13px;
  @include bebas;

  &:hover {
    background-color: $yellow;
    color: $white;
  }

  &:active {
    background-color: $white;
    color: $red;
    border:  2px solid $red;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  max-width: 960px;
  margin: 0  auto;
  padding: 0 10px;
}
