html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.wrapper {
  min-width: 320px;
  margin: 0;

  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;

  overflow-X: hidden;
}

:-moz-input:focus,
:-ms-input:focus,
::-webkit-input:focus,
input:focus {
  outline: none;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: $black;
  background-color: $white;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;
  border: 0;
  outline: 0;
  border-radius: 2px;

  text-align: center;
  color: $white;
  @include rel;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;

  background-color: $red;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background-color: $yellow;
    color: $white;
  }

  &:active {
    background-color: $white;
    color: $blue;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  overflow: hidden;



  clip: rect(0 0 0 0);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-header__toggle {
  display: none;
}
@media (max-width: 991px) {

  .main-header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: none;
    width: 100vw;
    height: 100vh;
    &.active {
      display: block;

      background-color: transparent;
    }
  }

  .main-header__toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;

    display: block;
    width: 30px;
    padding: 10px 0;
    border: 0;
    background: none;

    font-size: 0;
    color: transparent;

    cursor: pointer;
    &:focus {
      outline: 0;
    }
    &.active .main-header__toggle-item {
      background: none;
      &::before {
        -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
                transform-origin: left top;
        -webkit-transform: rotate(45deg) translateX(-3px);
            -ms-transform: rotate(45deg) translateX(-3px);
                transform: rotate(45deg) translateX(-3px);

      }
      &::after {
        -webkit-transform-origin: left bottom;
            -ms-transform-origin: left bottom;
                transform-origin: left bottom;
        -webkit-transform: rotate(-45deg) translateX(-4px);
            -ms-transform: rotate(-45deg) translateX(-4px);
                transform: rotate(-45deg) translateX(-4px);
      }
    }
  }
  .main-header__toggle-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
    display: block;
    width: 100%;
    height: 3px;

    background-color: $white;
    
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    &::before,
    &::after {
      @include bef;
      left: 0;

      z-index: 1;

      width: 100%;
      height: 3px;
      background-color: $white;

      -webkit-transition: -webkit-transform 0.2s linear;
      transition: -webkit-transform 0.2s linear;
      -o-transition: transform 0.2s linear;
      transition: transform 0.2s linear;
      transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    }
    &::before {
      top: -8px;
    }
    &::after {
      top: 8px;
    }
  }
}
